include MANIFEST.in

# These files are referenced from setup.py so we must make sure
# of including them in the source distribution.
include requirements.txt tests-requirements.txt

include jiralerts/favicon.ico
recursive-include jiralerts/templates *.tmpl
